<div class="row">
  <% 
    max_nesting = 6
    if comment.depth > max_nesting
      div_grid_columns = 12 - max_nesting
      div_grid_offset = max_nesting
    else
      div_grid_columns = 12 - comment.depth
      div_grid_offset = comment.depth 
    end
  %>
  <%= content_tag('div', class: "col-xs-#{div_grid_columns} offset-xs-#{div_grid_offset}") do %>
    <div class="card stateless-comment-partial-card %>">
      <div class="card-header">
        <!-- TODO: Update after improving user name display -->
        <h5><%= comment.commenter.username %></h5>
        <h6 class="card-subtitle text-muted"><%= l(comment.created_at, format: :short) %></h6>
      </div>  
      <div class="card-block">
        <p class="card-text"><%= comment.body %></p>    
      </div>
      <div class="card-footer">
        <%= link_to("Destroy #{comment.commentable.model_name == 'Comment' ? 'Reply' : 'Comment'}", [comment.commentable, comment], method: :delete, data: {confirm: 'Are you sure'})%>
      </div>
    </div>
    <% end %>
</div>
<% if comment.children.any? %>
  <%= render comment.children %>
<% end %>
