<%= form_for([commentable, comment]) do |f| %>
  <p>
    <%= f.hidden_field :parent_id, value: parent_id %>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
