<%= form_for([commentable, comment]) do |f| %>  
    <%= f.hidden_field :parent_id, value: parent_id %>
    <div class="form-group">
      <%= f.label :body %><br>
      <%= f.text_area :body, class: 'form-control', rows: 3 %>
    </div>  
    <%= f.button type: 'submit', class: 'btn btn-primary' do %>
      Submit Comment
    <% end %>
<% end %>
