<div class="row">    
  <div class="content-card-container"> 
    <div class="row">
      <div class="col-xs-12">
        <div class="card card-block">
          <h1 id="commentsIndexTitle" class="card-title display-4"><%= t "meta.comments_index.title" %></h1>
          <h6 class="card-subtitle text-muted"><%= t "meta.comments_index.description" %></h6>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1 index-container">
        <%= render @comments %>        
      </div>
    </div>
    <div class="row bottom-buttons">
      <div class="col-xs-12 text-xs-center">
        <%= link_to articles_path, class: 'btn btn-primary' do %>
          Articles
        <% end %>            
        <%= link_to root_path, class: 'btn btn-primary' do %>
          <%= fa_icon 'home', text: 'Main site page' %>
        <% end %>
      </div>
    </div>        
  </div>
</div>
