<h1><%= @comment.commenter %></h1>
<p><%= @comment.body %></p>

<h2>Replies:</h2>
<%= render @comment.children %>

<h2>Reply:</h2>
<%= render 'form', commentable: @comment.commentable, comment: Comment.new, commentable_type: @comment.commentable_type, commentable_id: @comment.commentable_id, parent_id: @comment.id %>

<%= link_to 'Edit', edit_comment_path(@comment) %>
<%= link_to 'Destroy', comment_path(@comment), method: :delete, data: {confirm: 'Are you sure?'} %>
<%= link_to "Back to #{@comment.commentable_type}", @comment.commentable %>