<div class="card stateless-article-partial-card">
  <div class="card-header">
  <!-- TODO: Article summary image or author's avatar. Replace username with preferred name -->
    <h3><%= image_tag article.author.avatar.url(:thumb), alt: "#{article.author.username}'s avatar", class: 'float-left' %> <%= link_to article.title, article_path(article) %></h3>
    <h6 class="card-subtitle text-muted"><%= article.description %></h6>
  </div>  
  <div class="card-block">
    <p class="card-text"><%= article.truncate_body %></p>
    <%= truncated_button(article) %>
  </div>
  <div class="card-footer text-muted clearfix">
    <div class="row">
      <div class="col-md-4">Published: <%= article.published? ? l(article.published_at, format: :short) : "#{l(article.created_at, format: :short)} [Draft]" %></div>
      <!-- TODO: Add user method to improve name options -->
      <div class="col-md-4 text-md-center">By: <%= article.author.username %> </div>
      <div class="col-md-4 text-md-right">
        <%= link_to "#{article.comments.length} #{'comment'.pluralize(article.comments.length)}", article_path(article, anchor: 'statelessArticleShowCommentHeaderCard') %> 
      </div>
    </div>
  </div>  
</div>
