<div class="row">    
  <div class="content-card-container"> 
    <div class="row">
      <div class="col-xs-12">
        <div class="card card-block">
          <h1 id="articlesNewTitle" class="card-title display-4"><%= t "meta.articles_new.title" %></h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1 edit-container">
        <div class="card stateless-article-partial-card">
          <div class="card-block">
            <div class="card-text">
              <%= render 'form', article: @article %>
            </div>          
          </div>
            
        </div>        
      </div>
    </div>
    <div class="row bottom-buttons">
      <div class="col-xs-12 text-xs-center">
        <%= link_to articles_path, class: 'btn btn-primary' do %>
          <%= fa_icon 'arrow-left', text: 'Articles' %>
        <% end %>
        <%= link_to root_path, class: 'btn btn-primary' do %>
          <%= fa_icon 'home', text: 'Main site page' %>
        <% end %>
      </div>
    </div>        
  </div>
</div>
