<%= title @article.title %>
<%= meta_description @article.description %>
<%= meta_keywords @article.keywords.join(',') %>

<div class="row">    
  <div class="content-card-container"> 
    <div class="row">
      <div class="col-xs-12">
        <div class="card card-block">
          <h1 id="articlesShowTitle" class="card-title display-4"><%= image_tag @article.author.avatar.url(:small), alt: "#{@article.author.username}'s avatar", class: 'float-left' %> <%= @article.title %></h1>
          <h6 class="text-muted"><%= @article.description %></span></h6>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1 individual-container">
        <div id="statelessArticleShowCard" class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-4 text-md-left">
                <!-- TODO: Add user method to improve name options -->
                <h6 class="text-muted"><strong>By:</strong> <%= @article.author.username %></h6>
              </div>
              <div class="col-md-4 text-md-center">
                <!-- TODO: Make topics linkable -->
                <h6 class="text-muted text-xs-right text-md-center"><strong>Posted in:</strong> <%= @article.topic %></h6>
              </div>  
              <div class="col-md-4 text-md-right">  
                <h6 class="text-muted text-xs-right"><strong>Published:</strong> <%= @article.published? ? l(@article.published_at, format: :short) : '[Draft]' %></h6>
              </div>
            </div>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-md-10 offset-md-1">              
                <p class="card-text"><%= @article.body %></p>
              </div>
            </div>              
          </div>
          <div class="card-footer text-muted clearfix">
            <div class="row">
              <!-- TODO: Make keywords linkable -->
              <div class="col-md-12 text-md-center">Keywords: <%= @article.keywords.join(', ') %></div>
            </div>
          </div>  
        </div>        
        <div id="statelessArticleShowCommentHeaderCard" class="card">
          <div class="card-block">
            <h3  class="card-title"><%= "#{@article.comments.length} #{'comment'.pluralize(@article.comments.length)}" %></h3>
          </div>
        </div>
        <%= render @article.comments.where(parent_id: nil) %>
        <div class = "row">
          <div class="col-xs-12">
            <div id="statelessArticleShowNewComment" class="card card-outline-secondary col-xs-12">
              <div class="card-block">
                <h3 class="card-title"><%= @article.comments.any? ? 'Add a New Comment:' : 'Be the First to Comment:' %></h3>
                <%= render 'comments/form', commentable: @article, comment: Comment.new, commentable_type: 'Article', commentable_id: @article.id, parent_id: nil %>
              </div>
            </div>
          </div>  
        </div>
        <div class="row bottom-buttons">
          <div class="col-xs-12 text-xs-center">
            <% if can? :update, @article %>
              <%= link_to edit_article_path(@article), class: "btn btn-primary" do %>
                <%= fa_icon 'edit', text: 'Edit' %>
              <% end %>
            <% end %>
            <% if can? :destroy, @article %>
              <%= link_to article_path(@article), method: :delete, class: "btn btn-secondary", data: {confirm: 'Are you sure?'} do %>
                <%= fa_icon 'remove', text: 'Destroy' %>    
              <% end %>
            <% end %>            
            <%= link_to 'Back to Articles', articles_path, class: "btn btn-secondary" %>
          </div>  
        </div>    
      </div>  
    </div>
  </div>
</div>
