<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->  
    <!-- Need to allow this to be customized on each page. -->
    <title>Stateless Code</title>
    <%= csrf_meta_tags %>

    <!-- Be sure to include meta description/author etc. along with Twitter/Facebook meta tags. -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'mb-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  </head>

   <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12"> 
          <%= render 'layouts/application/navbar' %>   
        </div>
      </div>
      <div class="row">
        <div class="stateless-application-banner">
          <div class="row">
            <div class="col-md-3 col-xl-2 hidden-sm-down">
              <span class="stateless-symbol align-middle">
                <h1 class="display-1 stateless-symbol-text">&lt;&#9398;/&gt;</h1>
              </span>
            </div>
            <div class="col-sm-11 offset-sm-1 offset-md-0 col-md-9 col-xl-10 stateless-application-text"> 
              <h1 class="text-xs-center text-sm-left text-white display-3">Stateless Code</h1>
              <h2 class="text-xs-center text-sm-left tagline">Where liberty and technology meet</h2>
            </div>
          </div>
        </div>
      </div>  
      <!-- Tempory hack get the Bootstrap working better -->
      <div class="row clearfix">
        <div class="col-sm-9 col-md-10 float-sm-right main clearfix">
          <%= yield %>
        </div>        
        <div class="col-sm-3 col-md-2 float-sm-left sidebar clearfix application-sidebar">
          <%= render 'layouts/application/sidebar' %>
        </div>
      </div>
      <div class="row clearfix">
        <%= render 'layouts/application/footer' %>
      </div>
    </div>
  </body>
</html>
